<!--The content below is only a placeholder and can be replaced.-->

  <h1>
    Welcome to {{title}}!
  </h1>
<div class="container">
  <div class="row">
    <div class="col md-4">
      <button class="btn btn-success" (click)="onFunction()">GET</button>
    </div>
    <div class="col md-6">
      <h2>Answer 1 :{{myAnsver}}</h2>
    </div>
  </div>
<div class="row">
  <div class="col md-4">
    <button class="btn btn-outline-info" (click)="onFunction2()">GET 2</button>
  </div>
  <div class="col md-6">
    <h2> Answer 2 :{{myAnswer2}}</h2>
  </div>
</div>
  <div class="row">
    <div class="col md-4">
      <button class="btn btn-outline-primary" (click)="onClear()">Clear</button>
    </div>
  </div>
</div>



